@define-mixin atSmall {
  @media (min-width: 40rem) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 48rem) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 64rem) {
    @mixin-content;
  }
}

@define-mixin atXL {
  @media (min-width: 80rem) {
    @mixin-content;
  }
}

@define-mixin atXXL {
  @media (min-width: 96rem) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
