// COLOR VARIABLES
$color-primary: #001f3f;
$color-secondary: #013a63;
$color-accent: #4682b4;

// FONT VARIABLES

$mainBlue: #1c384b;
$mainOrange: #d59541;
$deepPink: pink;
$mainFont: "Times New Roman", Times, serif;
