.section-hero {
  /* background-color: $color-primary; */
  padding: 8rem 0 4rem 0;
  @mixin atLarge {
    padding: 10rem 0 10rem 0;
  }
}

.hero {
  max-width: 150rem;
  display: grid;
  grid-template-columns: 1fr;
  /* align-items: center; */
  margin: 0px auto;
  padding: 0px 3.2rem;
  gap: 9.6rem;
  padding: 0 3.2rem;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    transform: translate(-30%, 30%);
    background-image: url("../assets/images/Hero-GGB_3.svg");
    z-index: 100;
    background-repeat: no-repeat;
    opacity: 1;
    filter: brightness(0);
    mix-blend-mode: lighten;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    transform: translate(-130%, 90%);
    background-image: url("../assets/images/Hero-SHB_2.svg");
    z-index: 100;
    background-repeat: no-repeat;
    opacity: 1;
    filter: brightness(0);
    mix-blend-mode: lighten;
  }

  @mixin atLarge {
    &::before {
      opacity: 1;
      filter: brightness(0.5);
      transform: translate(-5%, 0%);
    }

    &::after {
      opacity: 1;
      filter: brightness(0.6);
      transform: translate(-70%, 110%);
    }
  }

  @mixin atXXL {
    &::before {
      opacity: 1;
      filter: brightness(0.8);
      transform: translate(-30%, 30%);
    }

    &::after {
      opacity: 1;
      filter: brightness(0.8);
      transform: translate(-130%, 120%);
    }
    grid-template-columns: 5fr 1fr;
    height: 60vh;
  }

  &-text-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.8rem;

    .heading-primary {
      grid-column: 1 / -1;
    }

    .hero-desc {
      grid-column: 1 / -1;
    }

    @mixin atLarge {
      .hero-desc {
        grid-column: 1 / 3;
      }
    }
    text-align: left;
  }
}
