.section-cta {
  /* .btn--full {
    font-size: 2.4rem;
    padding: 2.4rem 1.6rem;
    margin-top: 1.6rem;
  } */
  .link {
    font-size: 1.6rem;
    /* padding: 2.4rem 1.6rem; */
    margin-top: 1.6rem;
  }
}
